apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-gzuvljsg
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-gzuvljsg:9acf816ca4369ea4d242d430ea5fe6198e8bbf29@sha256:8ace59ada38c611186f96ae20d70875a62a35a4db81fc84f4d5f70da17387f51
          name: container-image
